*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 60%;
    position: relative;
    left: 20%;
    margin-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.heading{
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    margin: 1em;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
}
pre{
    opacity: 70%;
    width: 100%;
}
code{   
    font-size: 1rem;
       
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.language-java{
    background-color: rgb(242, 242, 242) !important;
}
h3{
    font-weight: bolder !important;
    font-style: italic;
    margin: 10px 0px !important;
}
em{
    font-weight: bold;
    font-family: 'Cedarville Cursive', cursive;
}
i{
    font-weight: bold;
    font-family: cursive;
}
b{
    font-family: cursive;
    font-weight: lighter;
}
.resp-iframe-1{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    border: 0;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    border: 0;
}  
.explain{
    display: flex;
    justify-content: space-around;
} 
.explain img{
    width: 50%;
    height: auto;

}
@media only screen and (max-width: 650px) {
    body{
        width: 90%;
        position: relative;
        left: 5%;
        margin-right: 5%;
        font-size: 1rem;
    }
    code{
        font-size: 0.7rem;
    }
    pre{
       
    }
    .explain img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
  }